html{
    overflow-x: hidden;
    
}
/* page one */
#main-screen{
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
     url("/asset/img/logobg.png");
    background-position: center center;
    background-size: cover ;
    height: 100vh;
    background-repeat: no-repeat;
    border-color: black;
   
    
}

.navbar-brand{
    padding-left: 107px;
    font-size: 24px;
    font-weight: bold;
}


.navbar-dark {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.nav-item{
    text-transform: uppercase;
    font-weight: semibold;
    font-size: 10px;
    
}

#right-navbar{
    margin-right: 107px;
    letter-spacing: 3px;
}


.nav-link{
    color: white;
    font-size: 15px;
}

.text-uppercase fw-bold{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 48px;
}

.text-title{
    
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 3px;
    font-weight: 400;
    margin-top: 48px;
    margin-bottom: 48px;
    font-weight: 200;
}

.headerinfo{
    margin-top: 10em;
    color: white;
    font-family: "arial";
}

.btn{
    width: 300px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    margin-top: 3em;
    letter-spacing: 2px;
    font-size:  25px;

}

.scrolldown{
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 87%;
    left: 47%;
    font-weight: 900;
    font-size: 20px;
}



/* page two */

.carousel-section{
    margin-top: -0px;
}

.prev{
    margin-left: -200px;
}

.about{
   background-image: url(/asset/img/bg\ image\ 2.png);
   background-position: center center;
   background-size: cover;
   height: 100vh;
   color: white;
   position: relative;
}



.about-content{
    font-family: "arial";
    font-style: normal;
    letter-spacing: 3px;
    padding-top: 150px;
    padding-left: 50px;
}



/* page three */

.feature{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at right, #000, transparent), radial-gradient(circle at center, rgba(255, 255, 255, 0), transparent), 
    radial-gradient(circle at left, rgba(0, 0, 0, 0.527), transparent), radial-gradient(ellipse at bottom, rgb(8, 8, 8), transparent), url(/asset/img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.features-contents {
    color: white;
    padding-top: 14rem;
}

.features-info-title {
    font-size: 1.5rem;
}

.feature-info{
    line-height: 1.5rem;
    font-size: 48px;
    padding-top: 5px;
}


.bullet {
    margin-top: 8%;
}

.bullet-dot {
    margin-right: -5.5rem;
}

.text1-title {
    font-size: 2rem;
    color: #FBB341;
    letter-spacing: 0.2rem;
}

.tl-info-content {
    color: white;
    font-size: 1.5rem;
}

/* page four */

.systemreq {
    width: 100vw;
    height: 100vh;
    background-image:
        radial-gradient(30% 75% at 65% 40%,
            rgba(0, 0, 52, 0) 0%,
            rgba(10, 10, 10, 0.50) 50%,
            #000 95%),
        url(/asset/img/bg\ image\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.5%;
    margin-left: -12px;

}

.system-text{
    font-size: 46px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.content-text{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 70px;
}

.req-info-top {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-bottom: -1.5rem;
}

.req-info-top h5{
    margin-top: -60px;
}

.rq-table-title {
    line-height: 3rem;
}

 

.requirements-info {
    font-family: "Arial";
    color: #FBB341;
    font-style: normal;
}

.requirements-info-content {
    color: white;
    line-height: 1rem;
}

.table-bordered td {
    border: #212226 1px solid !important;
}

/* score */

#topscore-bg {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(78.66% 177.87% at 19.56% 37.57%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url(/asset/img/bg\ image\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -0.5%;
}

#systemleft{
    display: block;
    position: relative;
    margin-top: 280px;
}


.card{
    height: 200px;
    width: 400px;
    margin-top: 6em;
}

#topscore-text{
    padding-top: 0px;
    color: white;
}

.btn {
    margin-top: 1em;
}



/* Newletter */

.news-subs{
    background-color: black;
    width: 100vw;
    margin-left: -12px;
    padding-top: 5em;
    
}

#emailinput{
    height: 65px;
    width: 400px;
    margin-top: 0em;
}

.isi-text{
    color: white;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}



.email-fill{
    font-size: 14px;
    font-weight: normal;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#subscribe-button{
    font-size: 20px;
    padding: 12px;
}



/* bottom bar */

hr{
    position: relative;
    width: 100em;
    margin-left: 10em;
}

#bottom-bar{
    padding-bottom: 20px;
}

.desc-text{
    color: white;
    margin-left: 100px;
    margin-bottom: 50px;
}

.desc-text2{
    color: white;
    margin-left: 100px;
    margin-bottom: 50px;
}

#copyright h5{
    padding-right: 8.5em;
}

/* end bottom bar */