<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Binar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/style.css">

</head>
<body>
    
    <!-- Navbar -->
<div id="main-screen">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" >
        <div class="container-fluid">
          <a class="navbar-brand ms-5" href="#" >LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item ">
                <a class="nav-link ms-3 " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-3 " href="#">Work</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-3 " href="#">Contact</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-3 " href="#">About Me</a>
              </li>
            </ul>
            
            <ul class="navbar-nav d-flex" id="right-navbar">
              <li class="nav-item">
                  <a href="/auth/register"class="nav-link active" >Sign Up</a>
              </li> 
               <li class="nav-item">
               <a href="/auth/login" class="nav-link active" >Login</a>
                </li>            
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </nav>
      
      <!-- End Navbar -->

      
      <section style="padding-bottom: 400px;">
        <div class="headerinfo">
          <div class="text-center" id="Homepage">
            <h1 class="text-uppercase fw-bold" >Play Traditional Game</h1>
            <h3 class="text-title">Experience New Tradition Game Play</h3>
            
            <button type="button" class="btn btn-warning fw-bold">
              <a href="/game" style="text-decoration: none;" class="text-black">PLAY NOW</a>
            </button>
          </div>
          
          <div class="scrolldown">
            <p class="fw-normal mb-lg-1 mb-1">THE STORY</p>
            <img src="/asset/img/scroll down.svg" alt="scrolldown" id="scrolldown">
          </div>
        </div>
        
      </section>  

    <!-- about -->
   
    <section class="about container-fluid" id="about">
            <div class="row about-content text-light" style="font-size: 24px;">
              <h4 class="col-4 ms-5">
                What's So Special ?
              </h4>
              <p class=" gl-h1-info ms-5 text-light" style="font-size: 48px;">
                  THE GAMES
              </p>
              <div class="carousel-section">
                 <div id="carouselExampleCaptions" class="col-8 offset-4 carousel slide" data-bs-ride="false">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="/asset/img/rockpaperstrategy-1600 1.png" class="d-block w-80" alt="..."> 
                    </div>
                    <div class="carousel-item">
                      <img src="/asset/img/rockpaperstrategy-1600 1.png" class="d-block w-80" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="/asset/img/rockpaperstrategy-1600 1.png" class="d-block w-80" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon prev" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
               
              </div>
            </div>
            <div>

            </div>
        </section>

        <!-- end about -->


        <!-- Feature -->

        <section class="feature">
          <div class="container">
            <div class="row justify-content-end features-contents">
              <div class="col-5 features-info mb-2">
                <h3 class="features-info-title">
                  What's so special?
                </h3>
                <h1 class="feature-info">
                  FEATURES
                </h1>
              </div>
            </div>
            <div class="row justify-content-end features-bullet">
              <div class="col-5 features-bullet-content">
                <div class="row bullet">
                  <div class="col-3 pt-0 mb bullet-dot">
        
                    <img src="/asset/img/dost progress.png" id="dots-progress">
                  </div>
                  <div class="col tl-info">
                    <h2 class="text1-title">
                      TRADITIONAL GAMES
                    </h2>
                    <p class="tl-info-content">
                      If you miss your childhood, we provide many traditional games here
                    </p>
                  </div>
                </div>

                <div class="row bullet-line" style="margin-top: -21px;">
                  <div class="col-3 pt-2 mt-1 bullet-dot">
                    <img src="/asset/img/screenshot 2.png">
                  </div>
                  <div class="col tl-info">
                    <h2 class="text1-title">
                      GAME SUIT
                    </h2>
                  </div>
                </div>
                <div class="row bullet-line" style="margin-top: 21px;">
                  <div class="col-3 pt-2 mt-1 bullet-dot">
                    <img src="/asset/img/screenshot 2.png">
                  </div>
                  <div class="col tl-info">
                    <h2 class="text1-title">
                      TBD
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- End Feature -->


        <!-- System Requirement -->

        <section class="systemreq">
          <div class="container">
            <div class="req-info-top">
              <p class="content-text">Can My Computer Run This Game?</p>
            </div>
            <div class="row">
              <div class="col-xl-4 col-md-4">
                <h1 class="rq-table-title system-text text-light">System
                  <br> Requirements</h1>
      
                <!-- Table -->
                <table class="table table-bordered table-content-sys">
                  <tbody>
                    <tr>
                      <td>
                        <h2 class="requirements-info">OS:</h2>
                        <p class="requirements-info-content">
                          Windows 7 64-bit only <br>(No OSX support at this time)
                        </p>
                      </td>
                      <td>
                        <h2 class="requirements-info">Processor:</h2>
                        <p class="requirements-info-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h2 class="requirements-info">MEMORY:</h2>
                        <p class="requirements-info-content">4 GB RAM</p>
                      </td>
                      <td>
                        <h2 class="requirements-info">STORAGE:</h2>
                        <p class="requirements-info-content">8 GB available space</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <h2 class="requirements-info">GRAPIHICS:</h2>
                        <p class="requirements-info-content">
                          NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB
                          DirectX11 (Shader Model S)
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End of table -->
      
      
              </div>
            </div>
          </div>
        </section>

        <!--  Top Score-->
        <section class="topscore">
          <div id="topscore-bg">
            <div class="row">
              <div class="col-6" id="systemleft">
                <div class="mx-5 my-5 text-light px-5">
                  <h1>TOP SCORES</h1>
                <p id="topscore-text">This top score from various games provided <br>on this platform</p>
                <div class="row">
                <button class="btn ">see more</button>
              </div>
             </div>
            </div>
              <div class="col-6">
                <div class="row">
                  
                  <!-- card 1 -->
                  <div class="col-1 offset-4 card bg-dark">
                    <div class="card-body row mb-5">
                      <div class="col-2">
                      <img src="/asset/img/evan lathi.png" alt="Evan Lahti" class="rounded-circle" width="70" height="70">
                    </div>
                    <div class="col-8 ms-4 text-light" id="profile1">
                      <h2 class="text-warning">Evan Lahti</h2>
                      <p>PC Gamer</p>
                    </div>
                    <div class="col-1">
                      <img src="/asset/img/twitter.svg" alt="twitter">
                    </div>
                    <div class="row">
                      <h5 class="col-12 text-light">“One of my gaming highlights of the year.”</h5>
                    </div>
                    <div class="date-text">
                      <h6 class="ms-0">June 18, 2021</h6>
                    </div>
                    </div>
                  </div>

                  <!-- card 2 -->

                  <div class="card bg-dark">
                    <div class="card-body row mb-5">
                      <div class="col-2">
                      <img src="/asset/img/jada grifin.png" alt="Jada Griffin" class="rounded-circle" width="70" height="70">
                    </div>
                    <div class="col-8 ms-4 text-light" id="profile1">
                      <h2 class="text-warning">Jada Griffin</h2>
                      <p>Nerdreactor</p>
                    </div>
                    <div class="col-1">
                      <img src="/asset/img/twitter.svg" alt="twitter">
                    </div>
                    <div class="row ">
                      <h5 class="col-12 text text-light">“The next big thing in the world of streaming and survival games.”</h5>
                    </div>
                    <div class="date-text">
                      <h6 class="ms-0">July 10, 2021</h6>
                    </div>
                    </div>
                  </div>
                </div>
              
                    <!-- card 3 -->

                    <div class="col-1 offset-4 card bg-dark">
                      <div class="card-body row mb-5">
                        <div class="col-2">
                        <img src="/asset/img/aaron williams.jpg" alt="Aaron Williams " class="rounded-circle" width="70" height="70">
                      </div>
                      <div class="col-8 ms-4" id="profile1">
                        <h2 class="text-warning">Aaron Williams </h2>
                        <p>Uproxx</p>
                      </div>
                      <div class="col-1">
                        <img src="/asset/img/twitter.svg" alt="twitter">
                      </div>
                      <div class="row ">
                        <h5 class="col-12 text text-light">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</h5>
                      </div>
                      <div class="date-text ">
                        <h6 class="ms-0">December 24, 2018</h6>
                      </div>
                      </div>
                    </div>
            </div>
            </div>
          </div>
        </section>   
        
        <!-- subscribe  -->

        <section class="subscribe">
          <div class="news-subs ">
            <div class="row">
            <div class="col-3 offset-1">
              <img src="/asset/img/skull.png" alt="skull" >
            </div>
            <div class="col-7 offset-1">
              <div class="col-3">
              <h3 class="fw-normal text-light">Want to stay in touch?</h3>
            </div>
              <div class="row">
                <div class="col-6 mb-3">
              <h1 class="text-light">NEWSLETTER SUBSCRIBE </h1>
              </div>
            <div class="row">
              <div class="col-8">
              <p class="isi-text">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            </div>
            
            <div class="row">
            <div class="col-2 card bg-dark ms-2 mt-4" id="emailinput">
              <h5 class="mt-2 email-fill">Your email address</h5>
              <p class="text-warning">youremail@binar.co.id</p>
          </div>
          
            <div class="col-2 mt-2">
            <div class="btn fw-bold" id="subscribe-button">Subcribed Now</div>
            </div>
          </div>
          
            </div>
          </div>
          </div>
          </div>

          <div class="row" id="icon">
              <div class="col-6 offset-6 ">
                <ul class="list-group list-group-horizontal my-5 ms-0 ">
                  <li class="list-group-item bg-transparent text-white">MAIN</li>
                  <li class="list-group-item bg-transparent text-white">ABOUT</li>
                  <li class="list-group-item bg-transparent text-white">GAME FEATURES</li>
                  <li class="list-group-item bg-transparent text-white">SYSTEM REQUIREMENT</li>
                  <li class="list-group-item bg-transparent text-white">QUOTES</li> 
                  <li class="list-group-item bg-transparent text-bg-dark"><i class="bi bi-facebook"></i></li> 
                  <li class="list-group-item bg-transparent text-white"><i class="bi bi-twitter"></i></li> 
                  <li class="list-group-item bg-transparent text-white"><i class="bi bi-youtube"></i></li> 
                  <li class="list-group-item bg-transparent text-white"><i class="bi bi-twitch"></i></li> 
                </ul>
              </div>
              </div>
              <div><hr></div>
           
            
              <!-- end subscribe -->
              
              <!-- bottom bar -->


              <div class="row" id="bottom-bar">
              <div class="col-4 ps-5">
                <h6 class="desc-text"> © 2018 Your Games, Inc. All Rights Reserved</h6>
              </div>
              <div class="col-8 text-end pe-5" id="policy">
                <h5 class="desc-text2">Privacy Policy | Terms of Services | Code of Conduct</h5>
              </div>
            </div>
            </div>
          </section>
          

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

