 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/asset/register.css">
 </head>
 <body>
   <div class="main-container">
      <div class="login-form">
            <form action="/auth/login" method="post">
              <div class="form">
                 <div>
                    <h1>Login</h1>
                 </div>
     
                 <label for="email" class="fw-bold">Email</label><br>
                 <input input type="email" class="form-control  " id="email" name="email"><br><br>
                 <label for="password">password</label><br>   
                 <input type="password" name="password" id="password"><br><br>
                 <input type="submit">
                  <a href="/home">Submit</a>
               </input>
              </div>
           </form>
         </div>
      </div>
   </div>
 </body>
 </html>